.nav-links-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
@media(max-width: 767px) {
  .nav-links-links {
    display: none;
  }
}

.testimonial-testimonial {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: #61616B;
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  border-right-width: 1px;
}
.testimonial-content {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.testimonial-icon {
  height: 40px;
  object-fit: cover;
}
.testimonial-text {
  color: rgb(255, 255, 255);
  width: 400px;
  font-size: 24px;
  line-height: 44px;
}
.testimonial-author {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial-author1 {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial-details {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.testimonial-name {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.testimonial-origin {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 30px;
}
.testimonial-divider {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}






@media(max-width: 991px) {
  .testimonial-testimonial {
    gap: var(--dl-space-space-unit);
    margin-right: 0px;
    padding-right: 0px;
    border-right-width: 0px;
  }
  .testimonial-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .testimonial-icon {
    height: 24px;
  }
  .testimonial-text {
    width: 100%;
    font-size: 16px;
    line-height: 28px;
  }
  .testimonial-author {
    gap: var(--dl-space-space-unit);
  }
  .testimonial-author1 {
    width: 40px;
    height: 40px;
  }
  .testimonial-details {
    gap: var(--dl-space-space-halfunit);
  }
  .testimonial-name {
    font-size: 16px;
    line-height: 28px;
  }
  .testimonial-origin {
    font-size: 16px;
    line-height: 28px;
  }
  .testimonial-divider {
    width: 100px;
    height: 1px;
    display: flex;
    background-color: #61616B;
  }
  .testimonial-root-class-name {
    width: 100%;
  }
  .testimonial-root-class-name1 {
    width: 100%;
  }
  .testimonial-root-class-name2 {
    width: 100%;
  }
  .testimonial-root-class-name3 {
    width: 100%;
  }
  .testimonial-root-class-name4 {
    width: 100%;
  }
  .testimonial-root-class-name5 {
    width: 100%;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-branding {
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-text {
  color: rgb(39, 39, 45);
  font-size: 30px;
  font-family: "Inter";
}
.home-desktop-menu {
  display: flex;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-right {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-work-with-us {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.home-work-with-us:hover {
  opacity: 0.5;
}
.home-text01 {
  display: flex;
  font-size: 24px;
}
.home-image {
  width: 100px;
  display: none;
  object-fit: cover;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-work-with-us1 {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.home-work-with-us1:hover {
  opacity: 0.5;
}
.home-text02 {
  display: flex;
  font-size: 24px;
}
.home-image01 {
  width: 100px;
  display: none;
  object-fit: cover;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-branding1 {
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  border-color: #61616B;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-text03 {
  color: #27272D;
  font-size: 30px;
  font-family: Inter;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-middle {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-work-with-us2 {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.home-work-with-us2:hover {
  opacity: 0.5;
}
.home-text04 {
  display: flex;
  font-size: 24px;
}
.home-hero {
  gap: 120px;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 140px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 160px;
}
.home-header {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text05 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 54px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 400;
}
.home-image02 {
  width: 24px;
  height: 40px;
  display: flex;
  object-fit: cover;
}
.home-hero-image {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 180px;
  padding-right: 180px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: #E5FE58;
}
.home-image03 {
  width: 640px;
  height: 540px;
  object-fit: cover;
}
.home-who {
  gap: 120px;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 320px;
}
.home-header1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 170px;
  padding-right: 170px;
  flex-direction: column;
}
.home-heading {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  flex-direction: column;
}
.home-text06 {
  width: 100%;
  font-size: 54px;
  max-width: 800px;
  font-style: normal;
  font-weight: 400;
}
.home-text07 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 24px;
  max-width: 800px;
  line-height: 43px;
}
.home-button1 {
  font-size: 24px;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.home-preview {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: 170px;
  padding-right: 170px;
  flex-direction: row;
}
.home-image04 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 527px;
  align-items: flex-start;
  flex-direction: column;
  background-color: #E5FE58;
}
.home-image05 {
  object-fit: cover;
  margin-left: -160px;
}
.home-image06 {
  width: 544px;
  height: 799px;
  align-self: stretch;
  object-fit: cover;
  padding-top: 77px;
}
.home-information {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 120px;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: 140px;
  border-top-width: 1px;
}
.home-purpose {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-caption {
  color: #27272D;
  align-self: flex-start;
  letter-spacing: 5%;
  text-transform: uppercase;
}
.home-description {
  color: #27272D;
  width: 100%;
  font-size: 30px;
  max-width: 900px;
  align-self: flex-start;
  line-height: 54px;
}
.home-industries {
  gap: var(--dl-space-space-twounits);
  width: 994px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-caption1 {
  color: rgb(39, 39, 45);
  letter-spacing: 5%;
  text-transform: uppercase;
}
.home-list {
  width: 100%;
  display: grid;
  grid-gap: 80px;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: auto auto auto;
}
.home-accordion {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 54px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text08 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text09 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text10 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text11 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text12 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title1 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 54px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text13 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text14 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text15 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text16 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text17 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title2 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 54px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text18 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text19 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text20 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text21 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text22 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title3 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 54px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text23 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text24 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text25 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text26 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text27 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item3 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title4 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 54px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text28 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text29 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text30 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text31 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text32 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item4 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title5 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 54px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text33 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text34 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text35 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text36 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text37 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item5 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger6 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title6 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 54px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text38 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text39 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text40 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text41 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text42 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item6 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger7 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title7 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 54px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text43 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text44 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text45 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text46 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text47 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-container2 {
  display: contents;
}
.home-section {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 135px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 135px;
  background-color: #27272D;
}
.home-case-studies {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: 130px;
  border-bottom-width: 1px;
}
.home-caption2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.home-text48 {
  color: #ffffff;
  letter-spacing: 5%;
  text-transform: uppercase;
}
.home-date-range {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-text49 {
  color: rgb(255, 255, 255);
}
.home-text50 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 300;
}
.home-text51 {
  color: rgb(255, 255, 255);
}
.home-gallery {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-row {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-case {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: column;
}
.home-image07 {
  width: 560px;
  height: 416px;
  object-fit: cover;
}
.home-heading1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text52 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 36px;
}
.home-text53 {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.home-case1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image08 {
  width: 640px;
  height: 545px;
  object-fit: cover;
}
.home-heading2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text54 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 36px;
}
.home-text55 {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.home-row1 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-case2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image09 {
  width: 640px;
  height: 545px;
  object-fit: cover;
}
.home-heading3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text56 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 36px;
}
.home-text57 {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.home-case3 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-image10 {
  width: 560px;
  height: 628px;
  object-fit: cover;
}
.home-heading4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text58 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 36px;
}
.home-text59 {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.home-row2 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-case4 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-image11 {
  width: 560px;
  height: 628px;
  object-fit: cover;
}
.home-heading5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text60 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 36px;
}
.home-text61 {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.home-case5 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image12 {
  width: 640px;
  height: 545px;
  object-fit: cover;
}
.home-heading6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text62 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 36px;
}
.home-text63 {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.home-testimonials {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 120px;
  flex-direction: column;
}
.home-header2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-caption3 {
  color: #ffffff;
  letter-spacing: 5%;
  text-transform: uppercase;
}
.home-controls {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-icon2 {
  fill: #61616B;
  width: 24px;
  cursor: pointer;
  height: 24px;
}
.home-text64 {
  color: #ffffff;
  font-style: normal;
  font-weight: 300;
}
.home-icon4 {
  fill: #ffffff;
  width: 24px;
  cursor: pointer;
  height: 24px;
}
.home-row3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.home-quote1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-gradiant {
  top: 0px;
  right: 0px;
  width: 100px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  background-image: linear-gradient(90deg, rgba(39, 39, 45, 0) 3.00%,rgba(39, 39, 45, 0.5) 33.00%,rgb(39, 39, 45) 100.00%);
}
.home-book {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #E5FE58;
}
.home-content1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-left {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 810px;
  align-items: flex-start;
  flex-direction: column;
}
.home-text65 {
  font-size: 54px;
  font-weight: initial;
  line-height: 65px;
}
.home-button2 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: lowercase;
  background-color: rgb(0, 0, 0);
}
.home-image13 {
  height: 400px;
  object-fit: cover;
}
.home-section1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #244444;
}
.home-about-us {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.home-header3 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: column;
}
.home-caption4 {
  color: #ffffff;
  letter-spacing: 5%;
  text-transform: uppercase;
}
.home-description1 {
  color: rgb(255, 255, 255);
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
}
.home-statistics {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #ffffff;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.home-statistic {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text67 {
  color: rgb(255, 255, 255);
  font-size: 54px;
  line-height: 65px;
}
.home-text68 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
.home-statistic1 {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text69 {
  color: rgb(255, 255, 255);
  font-size: 54px;
  line-height: 65px;
}
.home-text70 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
.home-statistic2 {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text71 {
  color: rgb(255, 255, 255);
  font-size: 54px;
  line-height: 65px;
}
.home-text72 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
.home-statistic3 {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text73 {
  color: rgb(255, 255, 255);
  font-size: 54px;
  line-height: 65px;
}
.home-text74 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
.home-dna {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 140px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-caption5 {
  color: rgb(255, 255, 255);
  letter-spacing: 5%;
  text-transform: uppercase;
}
.home-description2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 54px;
}
.home-description3 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 54px;
}
.home-gallery1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  padding-bottom: 120px;
}
.home-image14 {
  width: 640px;
  z-index: 10;
  object-fit: cover;
}
.home-image15 {
  top: 370px;
  right: 0px;
  width: 760px;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
}
.home-recruit {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-text75 {
  color: #ffffff;
  font-size: 54px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
}
.home-sections {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-section2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text76 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  max-width: 1000px;
  line-height: 36px;
}
.home-text77 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 1000px;
  line-height: 27px;
}
.home-section3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text78 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  max-width: 1000px;
  line-height: 36px;
}
.home-text79 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 1000px;
  line-height: 27px;
}
.home-section4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text80 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  max-width: 1000px;
  line-height: 36px;
}
.home-text81 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 1000px;
  line-height: 27px;
}
.home-section5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text82 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  max-width: 1000px;
  line-height: 36px;
}
.home-text83 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 1000px;
  line-height: 27px;
}
.home-button3 {
  color: rgb(39, 39, 45);
  font-size: 24px;
  line-height: 30px;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: lowercase;
  background-color: rgb(229, 254, 88);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-header4 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home-branding2 {
  color: rgb(39, 39, 45);
  font-size: 30px;
}
.home-socials {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-link03 {
  display: contents;
}
.home-link04 {
  display: contents;
}
.home-link05 {
  display: contents;
}
.home-link06 {
  display: contents;
}
.home-link07 {
  display: contents;
}
.home-link08 {
  display: contents;
}
.home-link09 {
  display: contents;
}
.home-link10 {
  display: contents;
}
.home-content2 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-contact {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-email {
  color: rgb(39, 39, 45);
  font-size: 30px;
}
.home-links-row {
  gap: 128px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-links-column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-link11 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
.home-link11:hover {
  opacity: 0.7;
}
.home-link12 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
.home-link12:hover {
  opacity: 0.7;
}
.home-link13 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
.home-link13:hover {
  opacity: 0.7;
}
.home-link14 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
.home-link14:hover {
  opacity: 0.7;
}
.home-links-column1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-link15 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
.home-link15:hover {
  opacity: 0.7;
}
.home-link16 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
.home-link16:hover {
  opacity: 0.7;
}
.home-link17 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
.home-link17:hover {
  opacity: 0.7;
}
.home-link18 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
.home-link18:hover {
  opacity: 0.7;
}
.home-link19 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
.home-link19:hover {
  opacity: 0.7;
}
.home-link20 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
.home-link20:hover {
  opacity: 0.7;
}
@media(max-width: 991px) {
  .home-navbar-interactive {
    gap: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .home-text01 {
    line-height: 30px;
  }
  .home-text02 {
    line-height: 30px;
  }
  .home-text04 {
    line-height: 30px;
  }
  .home-hero {
    gap: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text05 {
    font-size: 32px;
  }
  .home-image02 {
    display: none;
  }
  .home-hero-image {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-who {
    gap: var(--dl-space-space-fourunits);
    margin-bottom: 750px;
    padding-bottom: 0px;
  }
  .home-header1 {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading {
    gap: var(--dl-space-space-unit);
  }
  .home-text06 {
    font-size: 32px;
  }
  .home-text07 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-button1 {
    font-size: 16px;
  }
  .home-preview {
    align-items: flex-end;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-image04 {
    width: 80%;
    height: 100%;
  }
  .home-image05 {
    width: 100%;
  }
  .home-information {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
    border-top-width: 0px;
  }
  .home-purpose {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-caption {
    font-size: 12px;
  }
  .home-description {
    font-size: 16px;
    line-height: 28px;
  }
  .home-caption1 {
    font-size: 12px;
  }
  .home-list {
    grid-gap: 16px;
    grid-template-columns: auto;
  }
  .home-accordion {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text08 {
    font-size: 16px;
  }
  .home-text09 {
    font-size: 16px;
  }
  .home-text10 {
    font-size: 16px;
  }
  .home-text11 {
    font-size: 16px;
  }
  .home-text12 {
    font-size: 16px;
  }
  .home-item {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title1 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text13 {
    font-size: 16px;
  }
  .home-text14 {
    font-size: 16px;
  }
  .home-text15 {
    font-size: 16px;
  }
  .home-text16 {
    font-size: 16px;
  }
  .home-text17 {
    font-size: 16px;
  }
  .home-item1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title2 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text18 {
    font-size: 16px;
  }
  .home-text19 {
    font-size: 16px;
  }
  .home-text20 {
    font-size: 16px;
  }
  .home-text21 {
    font-size: 16px;
  }
  .home-text22 {
    font-size: 16px;
  }
  .home-item2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title3 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text23 {
    font-size: 16px;
  }
  .home-text24 {
    font-size: 16px;
  }
  .home-text25 {
    font-size: 16px;
  }
  .home-text26 {
    font-size: 16px;
  }
  .home-text27 {
    font-size: 16px;
  }
  .home-item3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title4 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text28 {
    font-size: 16px;
  }
  .home-text29 {
    font-size: 16px;
  }
  .home-text30 {
    font-size: 16px;
  }
  .home-text31 {
    font-size: 16px;
  }
  .home-text32 {
    font-size: 16px;
  }
  .home-item4 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title5 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text33 {
    font-size: 16px;
  }
  .home-text34 {
    font-size: 16px;
  }
  .home-text35 {
    font-size: 16px;
  }
  .home-text36 {
    font-size: 16px;
  }
  .home-text37 {
    font-size: 16px;
  }
  .home-item5 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title6 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text38 {
    font-size: 16px;
  }
  .home-text39 {
    font-size: 16px;
  }
  .home-text40 {
    font-size: 16px;
  }
  .home-text41 {
    font-size: 16px;
  }
  .home-text42 {
    font-size: 16px;
  }
  .home-item6 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title7 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text43 {
    font-size: 16px;
  }
  .home-text44 {
    font-size: 16px;
  }
  .home-text45 {
    font-size: 16px;
  }
  .home-text46 {
    font-size: 16px;
  }
  .home-text47 {
    font-size: 16px;
  }
  .home-section {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-case-studies {
    gap: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-caption2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text48 {
    font-size: 12px;
  }
  .home-date-range {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text49 {
    font-size: 12px;
  }
  .home-text50 {
    font-size: 12px;
  }
  .home-text51 {
    font-size: 12px;
  }
  .home-gallery {
    gap: var(--dl-space-space-threeunits);
  }
  .home-row {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-direction: column;
  }
  .home-case {
    gap: var(--dl-space-space-unit);
    width: 100%;
    margin-top: 0px;
  }
  .home-image07 {
    width: 100%;
    height: 210px;
  }
  .home-heading1 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text52 {
    font-size: 24px;
    line-height: 30px;
  }
  .home-text53 {
    font-size: 16px;
  }
  .home-case1 {
    gap: var(--dl-space-space-unit);
  }
  .home-image08 {
    width: 100%;
    height: 210px;
  }
  .home-heading2 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text54 {
    font-size: 24px;
  }
  .home-text55 {
    font-size: 16px;
  }
  .home-row1 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-direction: column;
  }
  .home-case2 {
    gap: var(--dl-space-space-unit);
    width: 100%;
  }
  .home-image09 {
    width: 100%;
    height: 210px;
  }
  .home-heading3 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text56 {
    font-size: 24px;
  }
  .home-text57 {
    font-size: 16px;
  }
  .home-case3 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    padding-top: 0px;
  }
  .home-image10 {
    width: 100%;
    height: 210px;
  }
  .home-heading4 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text58 {
    font-size: 24px;
  }
  .home-text59 {
    font-size: 16px;
  }
  .home-row2 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-direction: column;
  }
  .home-case4 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    padding-top: 0px;
  }
  .home-image11 {
    width: 100%;
    height: 210px;
  }
  .home-heading5 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text60 {
    font-size: 24px;
  }
  .home-text61 {
    font-size: 16px;
  }
  .home-case5 {
    gap: var(--dl-space-space-unit);
    width: 100%;
  }
  .home-image12 {
    width: 100%;
    height: 210px;
  }
  .home-heading6 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text62 {
    font-size: 24px;
  }
  .home-text63 {
    font-size: 16px;
  }
  .home-testimonials {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-fourunits);
  }
  .home-controls {
    display: none;
  }
  .home-row3 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-book {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content1 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column-reverse;
    justify-content: center;
  }
  .home-left {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
  }
  .home-text65 {
    font-size: 32px;
    text-align: center;
    line-height: 38px;
  }
  .home-text66 {
    font-size: 16px;
  }
  .home-image13 {
    height: 220px;
  }
  .home-section1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-about-us {
    gap: var(--dl-space-space-threeunits);
  }
  .home-header3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-caption4 {
    font-size: 12px;
  }
  .home-description1 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-statistics {
    gap: var(--dl-space-space-threeunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text67 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text68 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text69 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text70 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text71 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text72 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text73 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text74 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-dna {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
  .home-caption5 {
    font-size: 12px;
  }
  .home-description2 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-description3 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-recruit {
    gap: var(--dl-space-space-threeunits);
    padding-top: 0px;
  }
  .home-text75 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-sections {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-section2 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text76 {
    font-size: 24px;
    line-height: 30px;
  }
  .home-text77 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-section3 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text78 {
    font-size: 24px;
    line-height: 30px;
  }
  .home-text79 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-section4 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text80 {
    font-size: 24px;
    line-height: 30px;
  }
  .home-text81 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-section5 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text82 {
    font-size: 24px;
    line-height: 30px;
  }
  .home-text83 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text84 {
    font-size: 16px;
    line-height: 20px;
  }
  .home-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-header4 {
    padding-top: 0px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-branding2 {
    font-size: 18px;
  }
  .home-socials {
    display: none;
  }
  .home-content2 {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-email {
    font-size: 24px;
  }
  .home-links-row {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-work-with-us {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text01 {
    display: none;
  }
  .home-image {
    width: 16px;
    height: 14px;
    display: flex;
  }
  .home-burger-menu {
    display: flex;
    align-self: flex-start;
  }
  .home-work-with-us1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text02 {
    display: none;
  }
  .home-image01 {
    width: 16px;
    height: 14px;
    display: flex;
  }
  .home-branding1 {
    max-width: 80%;
  }
  .home-work-with-us2 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image03 {
    width: auto;
    height: 220px;
  }
  .home-who {
    margin-bottom: 0px;
  }
  .home-image14 {
    width: 350px;
  }
  .home-image15 {
    width: 350px;
  }
  .home-text87 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-mobile-menu {
    padding: 16px;
  }
  .home-image05 {
    margin-left: -120px;
  }
  .home-image14 {
    width: 240px;
  }
  .home-image15 {
    top: 250px;
    width: 240px;
  }
  .home-text87 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
